<div class="row mt-3">
  <div class="col-md-8 mx-auto">
    <div class="card text-white transparency">
      <div class="card-body">
        <form (ngSubmit)="updateUser()" autocomplete="off">
          <div class="form-group">
            <label for="ID">ID</label>
            <input type="text" name="ID" id="ID" [(ngModel)]="ID" placeholder="Your ID" disabled class="form-control">
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" [(ngModel)]="name" placeholder="Your name" class="form-control">
          </div>
          <div class="form-group">
            <label for="name">E-mail</label>
            <input type="email" name="email" id="email" [(ngModel)]="email" placeholder="Your email" class="form-control">
          </div>
          <div class="form-group">
            <label for="name">Password</label>
            <input type="password" name="password" id="password" [(ngModel)]="password" placeholder="Your password" class="form-control" required>
          </div>
          <input type="submit" value="UPDATE INFO ABOUT ME" class="btn btn-primary btn-block btn-lg">
        </form>
        <button class="btn btn-danger btn-block btn-lg" (click)="deleteUser()">DELETE MY ACCOUNT</button>
      </div>
    </div>
  </div>
</div>
