<div class="jumbotron mt-3 transparency">
  <h1 class="display-3">parkour
    <span class="text-danger">SPOTS</span>
  </h1>
  <p class="lead">Umożliwia utworzenie bazy miejsc do trenowania parkour, poprzez dodawanie nowych spotów, które następnie w łatwy sposów
    można zlokalizować na mapie. Dodane spoty są widoczne przez wszystkich w związku z czym baza może być tworzona i rozwijana
    przez wiele osób jednocześnie.</p>
  <img src="https://firebasestorage.googleapis.com/v0/b/parkourspots-f2638.appspot.com/o/images%2Fimages%2FlistOfSpots.png?alt=media&token=94329415-9b51-4e44-814c-350af60b6add" class="img-fluid d-block mx-auto" alt="List of Spots">
  <br>
  <img src="https://firebasestorage.googleapis.com/v0/b/parkourspots-f2638.appspot.com/o/images%2Fimages%2Fmap.png?alt=media&token=c9bbb518-7a2a-4af6-bcc4-5cb056d3bbb9" class="img-fluid d-block mx-auto" alt="Map">
  <hr class="my-4">
  <p>Kod źródłowy aplikacji można znaleźć odwiedzając profil autora na platformie GitHub</p>
  <a class="btn btn-danger btn-lg ml-4" href="https://github.com/kkasztann/parkourSpots" target="_blank" role="button">
    <i class="fa fa-github"></i> GitHub</a>
</div>
