<div class="jumbotron mt-3 transparency">
  <h1 class="display-3">parkour
    <span class="text-danger">SPOTS</span>
  </h1>
  <p class="lead">Umożliwia utworzenie bazy miejsc do trenowania parkour, poprzez dodawanie nowych spotów, które następnie w łatwy sposów
    można zlokalizować na mapie. Dodane spoty są widoczne przez wszystkich w związku z czym baza może być tworzona i rozwijana przez
    wiele osób jednocześnie.</p>
  <hr class="my-4">
  <p>Kod źródłowy aplikacji można odnaleźć odwiedzając profil autora na platformie GitHub</p>
  <a class="btn btn-danger btn-lg ml-4" href="https://github.com/kkasztann/parkourSpots" target="_blank" role="button">
    <i class="fa fa-github"></i> GitHub</a>
</div>
