/* You can add global styles to this file, and also import other style files */
.alert.flash-message {
  margin-top: 10px;
  text-align: center;
}

body {
  background-image: url(assets/background.jpg);
}

.transparency {
  background: rgba(0, 0, 0, 0.9);
}

p {
  text-indent: 25px;
}

.container {
  min-height: 75vh;
}

