/* You can add global styles to this file, and also import other style files */
.alert.flash-message {
  margin-top: 10px;
  text-align: center;
}

body {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/parkourspots-f2638.appspot.com/o/images%2Fbackground.jpg?alt=media&token=587b8fe5-c7c1-4394-b388-3e97134847b4);
}

.transparency {
  background: rgba(0, 0, 0, 0.9);
}

p {
  text-indent: 25px;
}

.container {
  min-height: 75vh;
}

