<ul *ngIf="allSpots | async as spots; else loading">
  <li *ngFor="let spot of spots" (click)="getSpot(spot.id)">
    {{spot.data.name}}  <strong>(<a (click)="deleteSpot(spot.id)">delete</a>)</strong>
  </li>
</ul>

<h1>Wybrany spot</h1>
<h3>{{ (spot | async)?.name }}</h3>
<h3>{{ (spot | async)?.city }}</h3>

<input type="text" [(ngModel)]="newSpot.name" name="name" placeholder="Spot name...">
<br>
<input type="text" [(ngModel)]="newSpot.city" name="city" placeholder="City...">
<br>
<input type="text" [(ngModel)]="newSpot.creator" name="creator" placeholder="Creator... [automat]">
<br>
<input type="number" [(ngModel)]="newSpot.lokalizacja.latitude" name="latitude" placeholder="Latitude...">
<br>
<input type="number" [(ngModel)]="newSpot.lokalizacja.longitude" name="longtitude" placeholder="longitude...">
<br>
<input type="number" [(ngModel)]="newSpot.difficultyLevel" name="difficultyLevel" placeholder="DifficultyLevel...">
<br>
<input type="number" [(ngModel)]="newSpot.rate" name="rate" placeholder="Rate...">
<br>
<textarea [(ngModel)]="newSpot.description" name="description" placeholder="Description..."></textarea>
<br>
<input type="submit" value="Add spot" (click)="addSpot(newSpot)">


<ng-template #loading>Loading...</ng-template>
